a:visited{
    color: rgb(2, 140, 126);
}
a:hover{
    color: rgb(158, 102, 0);
}
a:active{
    color: rgb(0, 74, 21);
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: beige;
    color:#00184f;
}
#space-head{
    background:url(../images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg) no-repeat center;
    height: 10vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
h1{
    color: azure;
    text-align: center;
    padding-top: 20px;

}
article{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    
    
}
div{
    text-align: center;
}
li span{
    text-align: center;
    font-style: italic;
    left: auto;
    font-size: large;
}
.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /*Adapted from W3Schools https://www.w3schools.com/howto/howto_css_responsive_iframes.asp*/
}
.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;   /*Adapted from W3Schools https://www.w3schools.com/howto/howto_css_responsive_iframes.asp*/
}
#top{
    position: fixed;
    bottom:0;
    right:0;
    background-color:beige ;
}
#footer{
    background-color:rgba(0, 155, 95, 0.8);
    text-align: right;
}
#footer p{
    color:beige;
    text-align: right;
    font-size: small;
}
