html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    }
nav>a{
    color: beige;
}
a:visited{
    color: rgb(2, 140, 126);
}
a:hover{
    color: rgb(158, 102, 0);
}
a:active{
    color: rgb(0, 74, 21);
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: beige;
    color: #00184f;
    
    
}
#nav{
    background-image: url(../images/kseniya-lapteva-AKk5wFIyzpE-unsplash.jpg);

}
#home{
    color:beige;
    height:40vh;
    width:100%;
    background-image:url(../images/kseniya-lapteva-AKk5wFIyzpE-unsplash.jpg);
    text-align:center;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    font-size: large;
   
    
}
#about-section{
    height: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
#topics{
    text-align: center;
}
.criteria{
    height:500px;
    width:500px;
    position:relative;
    display:inline-block;
    vertical-align: top;
    text-align: center;
    padding: 20px;
    
}
@media screen and (max-width:525px) {
    .criteria{
        height:auto;
        width:auto;
    }
    .criteria img{
       visibility:hidden;
    }
    #home{
        height: fit-content;
    }
}
.criteria img{
    height:65%;
    width : 65%;
    position: absolute;
    bottom:0;
    left:100px;
}
#contact{
    padding-left: 20px;
}

#footer{
    background-color:rgba(0, 155, 95, 0.8);
    text-align: right;
}
#footer p{
    color:beige;
    text-align: right;
    font-size: small;
    padding-right: 10px;
}
input{
    max-width: 80vw;
}
