a:visited{
    color: rgb(2, 140, 126);
}
a:hover{
    color: rgb(158, 102, 0);
}
a:active{
    color: rgb(0, 74, 21);
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: beige;
    color: #00184f;
    
    
}
#home{
    color:beige;
    height:70vh;
    width:100vw;
    background-image:url(../images/kseniya-lapteva-AKk5wFIyzpE-unsplash.jpg);
    text-align:center;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 220px;
    font-size: xx-large;
    
}
#about{
    border-radius:25px;
    height: auto;
    width: 100vw;
    padding: 10px 30px;
    overflow: hidden;
    text-align: center;
}
#topics{
    text-align: center;
}

.criteria{
    height:500px;
    width:500px;
    position: relative;
    left:40px;
    top: auto;
    display:inline-block;
    vertical-align: top;
    text-align: center;
}
.criteria img{
    height:300px;
    width : 300px;
    position: absolute;
    bottom:0;
    left:100px;
}
#footer{
    background-color:rgba(0, 155, 95, 0.8)
}